<h1>Register</h1>
<form action="/register" method="post">
    <label>Username: <input type="text" name="username" value="{{data.username}}"></input></label><br>
    <label>Password: <input type="password" name="password"></input></label><br>
    <label>Repeat Password: <input type="password" name="repass"></input></label><br>
    <input type="submit" value="Register">
</form>