<h1>Login</h1>
<form action="/login" method="post">
    <label>Username: <input type="text" name="username" value="{{data.username}}"></input></label><br>
    <label>Password: <input type="password" name="password"></input></label><br>
    <input type="submit" value="Login">
</form>